.hero-wrapper{
    color: #fff;
    position: relative;
    padding-bottom:32px;
    /* background-color: var(--black); */
}

.hero-container{
    justify-content: space-around;
    align-items: flex-end;
}
 /* left-side */

.hero-left{
    /* margin-top: 150px; */
    gap: 48px;
   
}

.hero-title{
    position: relative;
    z-index: 10;
}

.hero-title> h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 64px;
}

.circle{
    height: 64px;
    width: 64px;
    background:var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    right:28%;
    top: -10%;
    z-index: -1;
}



.search-bar{
    background-color: #fff;
    border-radius: 5px;
    border:3px solid rgba(120, 120, 120, 0.374);
    padding: 8px 16px;
    justify-content: space-between;
    width: 100%;
}

.search-bar > input{
    border:none;
    outline:none;
}

.states{
    width:100%;
    justify-content: space-between;

}

.stat>:nth-child{
    font-size: 32px;

}


.Count-up{
    font-size: 32px;
}

.stat>:n-child(1)>:last-child{
    color: orange;   
}


/* right-side */

.image-container{
    
    width: 480px;
    height: 560px;
    overflow: hidden;
    border-radius: 240px 240px 0 0;
    border: 7px solid rgba(255, 255, 255, 0.12);
}

.image-container > img{
    width: 100%;
    height: 100%;
}


@media(max-width:640px){
    .hero-container{
        margin-top: 32px;
    }
    .hero-title>h1{
        font-size:40px;
        line-height: 48px;
    }
    .image-container{
        width: 95%;
        height: 400px;
    }
    
}