.value-wrapper{
    position: relative;
    padding-bottom:32px;
    background-color:white;
}

.value-container{
    margin-top:15px;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row-reverse;
}
 /* left-side */

.value-title{
    position: relative;
    z-index: 10;
}

.value-title> h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 64px;

}

.circle-value{
    height: 64px;
    width: 64px;
    background:var(--circlecolor);
    border-radius: 999px;
    position: absolute;
    right: 53%;
    top: -24%;
    z-index: -1;
}


.value-li{
    color: rgb(149, 149, 235);
}

.value-li>span:hover{
    color: #6b6b6b;
}

.search-bar{
    background-color: #fff;
    border-radius: 5px;
    border:3px solid rgba(120, 120, 120, 0.374);
    padding: 8px 16px;
    justify-content: space-between;
    width: 100%;
}

.search-bar > input{
    border:none;
    outline:none;
}

.states{
    width:100%;
    justify-content: space-between;

}

.stat>:nth-child{
    font-size: 32px;

}




.stat>:n-child(1)>:last-child{
    color: orange;   
}


/* right-side */

.value-image-container>img{
    width: 100%;
    height: 100%;
}

.value-image-container{
    width: 415px;
    height: 388px;
    overflow: hidden;
    border-radius: 25px 118px 25px 118px;
    border: 7px solid rgba(255, 255, 255, 0.12);
}


.value-content{
   margin-bottom: 30px;
}



@media (max-width:640px) {
    .circle-value{
       display: none;
    }
    .value-discription{
        padding-inline: 40px;
    }

    .value-title>h1{
        font-size:40px;
        line-height: 48px;
    }
    .value-left{
        gap: 0;
    }
    .value-image-container{
        width: 95%;
        height: 400px;
    }
}