.header-wrapper{
    color: #fff;
}

.header-container{
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    z-index: 999;
    padding-bottom: 16px;
    color:var(--secondary)
}

.header-menu{
    gap:32px;

}

a:hover{
    cursor: pointer;
    color: #fff;
}

.menu-icon{
    cursor: pointer;
    display: none;
}

@media(max-width:768px){
    .header-container {
        position: relative;
        z-index: 9999;
    }
    .menu-icon{
        display: block;   
        z-index:999;
    }
    .header-menu{
        color: var(--black);
        position: absolute;
        z-index: 99999;
        top: 48px;
        right: 10px;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 32px;
        padding:48px;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.05px);
    }

    a:hover{
        color: black;
    }
}

