.resi-container{
    overflow:hidden;
    position: relative;
}

.resi-button{
    position: absolute;
    gap:16px;
    top:-64px;
    right: 0;
}

.resi-button button{
    color: black;
    background:white;
    font-size: 17px;
    padding: 10px;
} 

.resi-button{
    margin-top:45px;
}

.resi-head{
    margin-bottom:32px;
}

.resi-card{
    gap: 9.6px;
    padding: 16px;
    max-width: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: all 300ms ease;
}

.resi-card>img{
    width:100%;
    height: 240px;
    margin:auto;
    margin-bottom: 20px;
}

.resi-card>:nth-child(2){
    font-size: 19px;
    font-weight: 600;
}

.resi-card>:nth-child(3){
    font-size: 19px;
}
.resi-card>:nth-child(4){
    font-size: 11px;
    width:240px;
}

.resi-card:hover{
    scale: 1.025;
    cursor: pointer;                                                                
}

.swiper-wrapper{
    margin-top: 20px;
}

.Swiper-horizontal{
    overflow: visible;
}